[Desktop Entry]
Type=Application
Name=校准操作器
Exec=gnome-terminal -- bash -ic "bash /home/zjxf/Code/HumanTeleop/scripts/easy_teleop/calib_feetech.sh; echo; read -p 'Press Enter to close...'"
Terminal=false
