[Desktop Entry]
Type=Application
Name=Init Arms (press Enter to close)
Exec=gnome-terminal -- bash -lc "bash /home/zjxf/Code/HumanTeleop/scripts/easy_teleop/auto_enable.sh; echo; read -p 'Press Enter to close...'"
Terminal=false
